@font-face {
  font-family: "BigBro";
  src: url("./font/Big\ Bro_'s\ Watch.ttf") format("truetype");
}

.Searchbar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Container {
  height: 50vh;
  display: flex;
  align-items: baseline;
  background-color: #dbdbdb;
  justify-content: center;
  text-align: center;
}

.Home {
  color: black;
}

video {
  object-fit: cover;
  display: flex;
  width: 100%;
  height: 50%;
  position: fixed;
  z-index: -100;
  filter: brightness(50%);
}

.commercial-container {
  height: 50vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px #616161;
  font-family: BigBro;
}
